body {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section {
  // position: relative;
  border-bottom: 1px solid black;
  padding-top: 36px;
  padding-bottom: 36px;
  width: 1090px;
}

// section::after {
//   content: '';
//   display: block;
//   width: 536px;
//   height: 1px;
//   background: black;
//   margin: 36px auto;
// }
// section:last-of-type::after {
//   content: none;
// }
.title {
  text-align: center;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 16px;
}
