$font-family: "Montserrat Alternates", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Sacramento", sans-serif;
$black: #000000;
$white: #FFFFFF;
$light-gray: #D9D9D9;
$medium-gray: #7E7E7E;
$light-green: #5ABB58;
$green: #039900;
$red: #990000;