<section class="section-calculator"  id="4">
  <div class="container">
    <h2 class="title">Калькулятор</h2>
    <div class="calculator">
      <input class="calculator-1" placeholder="Число" />
      <ul class="operators">
        <li>
          <button class="plus operators-button" data-operation="+">+</button>
        </li>
        <li>
          <button class="multiply operators-button" data-operation="*">*</button>
        </li>
        <li>
          <button class="minus operators-button" data-operation="-">-</button>
        </li>
        <li>
          <button class="divide operators-button" data-operation="/">/</button>
        </li>
      </ul>

      <input class="calculator-2" placeholder="Число" />

      <button class="equals">=</button>

      <input class="result" placeholder="Результат" />
    </div>
  </div>
</section>
