<section class="dinosaur-game">
  <div class="container-game">
    <h3 class="dinosaur-game__title title">Google динозавр</h3>
    <canvas
      class="dinosaur-game__canvas"
      width="600px"
      height="200px"
      data-dinosaur-canvas
    ></canvas>
    <div class="dinosaur-game__box" data-dinosaur-start-box>
      <p class="dinosaur-game-box__title">Гру завершено!</p>
      <button class="dinosaur-game-again__btn" data-dinosaur-again>
        Спробувати ще
      </button>
    </div>
    <button class="dinosaur-game-start__btn" data-dinosaur-start>
      Почати гру
    </button>
    <img
      style="display: none"
      src="./images/dinosaur/dino.jpg"
      data-dino-start
    />
    <img style="display: none" src="./images/dinosaur/cactus.jpg" data-cactus />
    <div class="line"></div>
  </div>
</section>
