<header class="header">
  <div class="header__container">

    <a class="logo" href="/">
      <img class="header-logo logo-js-toggle" src="./images/logo.png" alt="logo">
    </a>
    <nav class="nav">
      <div class="nav__item">
        <input type="checkbox" id="menu-toggle" class="nav__checkbox">
        <label for="menu-toggle" class="nav__link nav__link--arrow">
          Інтерактив
        </label>
        <div class="dropdown">
          <a href="#" data-filter="number">Числовий</a>
          <a href="#" data-filter="game">Ігровий</a>
          <a href="#" data-filter="intro">Ознайомчий</a>
        </div>
      </div>
      <a class="header-our-team-js header-our-team-js-team" href="#">Наша команда</a>
      <a class="header-our-team-js header-our-team-js-contacts" href="#">Контакти</a>
    </nav>
    <button class="theme-toggle" id="themeToggle">
<img src="./images/icons/sun.png" alt="light" class="icon icon--sun">
<img src="./images/icons/moon.png" alt="dark" class="icon icon--moon">
</button>
    <div class="header__right">
      <span class="header__right-greeting">Вітаємо, <span class="header__right-user">User!</span></span>
    </div>

  </div>

</div>
</header>