<header class="header">
  <div class="header__container">

    <div class="logo">
      <img src="./images/logo.png" alt="logo">
    </div>
    <nav class="nav">
      <div class="nav__item">
        <input type="checkbox" id="menu-toggle" class="nav__checkbox">
        <label for="menu-toggle" class="nav__link nav__link--arrow">
          Інтерактив
        </label>
        <div class="dropdown">
          <a href="#">Числовий</a>
          <a href="#">Ігровий</a>
          <a href="#">Ознайомчий</a>
        </div>
      </div>
      <a href="#">Наша команда</a>
      <a href="#">Контакти</a>
    </nav>
    <button class="theme-toggle" id="themeToggle">
<img src="./images/icons/sun.png" alt="light" class="icon icon--sun">
<img src="./images/icons/moon.png" alt="dark" class="icon icon--moon">
</button>
    <div class="header__right">
      <span>Вітаємо, User!</span>
    </div>

  </div>

</div>
</header>