<div class="backdrop" data-modal>
  <div class="register-modal">
    <button class="register-modal__close" type="button" data-modal-close>
      <div class="lines">
        <div class="register-line register-line-first"></div>
        <div class="register-line register-line-second"></div>
      </div>
    </button>
    <pre class="register-modal__text">Привіт!
Ви потрапили на сайт інтерактивних ігор та завдань
Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
Бажаємо Вам гарно провести час!</pre>
<form class="register-modal-form js-register-modal-form">
  <label class="register-modal-form-label" for="name">Введіть своє ім’я:</label>
  <input class="register-modal-form-input js-input" type="text" id="name" name="name" placeholder="Ваше ім’я..." required>
  <button class="register-modal-form-button js-register-modal-form-button" type="submit">Зберегти</button>
</form>
    <ul class="list register-modal__list">
      <li class="register-modal__item register-sword">
        <img src="./images/icons/sword.png">
      </li>
      <li class="register-modal__item register-puzzle">
        <img src="./images/icons/puzzle.png"></img>
      </li>
      <li class="register-modal__item register-ttt">
        <img src="./images/icons/tic-tac-toe.png">
      </li>
      <li class="register-modal__item register-game-dev">
        <img src="./images/icons/game-development.png">
      </li>
    </ul>
  </div>
</div>
