<div class="backdrop is-hidden" data-footer-modal>
  <div class="footer-modal">
    <button class="footer-modal__close" type="button" data-footer-modal-close>
      <div class="lines">
        <div class="line line1"></div>
        <div class="line line2"></div>
      </div>
    </button>
    <h2 class="footer-modal__title">Дякую за підписку!</h2>
    <ul class="list footer-modal__list">
      <li class="footer-modal__item sword">
        <img src="./images/icons/sword.png">
      </li>
      <li class="footer-modal__item puzzle">
        <img src="./images/icons/puzzle.png"></img>
      </li>
      <li class="footer-modal__item ttt">
        <img src="./images/icons/tic-tac-toe.png">
      </li>
      <li class="footer-modal__item game-dev">
        <img src="./images/icons/game-development.png">
      </li>
    </ul>
  </div>
</div>
