<section class="section" id="9">
    <div class="container">
     <h2 class="title">Наша команда</h2>
     <div class="our-team__slider">
      <div class="our-team__wrapper">
        <ul class="our-team__list">
          <li class="our-team__item ">
            <img
              class="our-team__img"
              src="./images/ivan.jpg"
              alt="Ivan"
            />
            <div class="our-team__info">
              <h3 class="our-team__headline">Ivan(teamlead)</h3>
              <p class="our-team__text">
                Модалка привітальна, Вчені, Камінь-ножиці-папір, Футбол
              </p>
            </div>
          </li>
          <li class="our-team__item">
            <img
              class="our-team__img"
              src="./images/sasha.jpg"
              alt="Sasha"
            />
            <div class="our-team__info">
              <h3 class="our-team__headline">Sasha(scrum master)</h3>
              <p class="our-team__text">
                Гугл динозавр, Калькулятор часу, В який рік ти народився 
              </p>
            </div>
          </li>
          <li class="our-team__item">
            <img
              class="our-team__img"
              src="./images/alina.jpg"
              alt="Alina"
            />
            <div class="our-team__info">
              <h3 class="our-team__headline">Alina</h3>
              <p class="our-team__text">Футер, 3 числа, Футер-модалка, Слайдер</p>
            </div>
          </li>
          <li class="our-team__item">
            <img
              class="our-team__img"
              src="./images/kamila.jpg"
              alt="Kamila"
            />
            <div class="our-team__info">
              <h3 class="our-team__headline">Kamila</h3>
              <p class="our-team__text">Вгадай число, Калькулятор, Хеадер</p>
            </div>
          </li>
        </ul>
        <ul class="our-team__dots">
            <li class="our-team__dot active" data-index="0"></li>
            <li class="our-team__dot" data-index="1"></li>
            <li class="our-team__dot" data-index="2"></li>
            <li class="our-team__dot" data-index="3"></li>
        </ul>
      </div>
    </div>
  </div>
</section>