<section class="rps">
  <h2 class="rps-title">Камінь - ножиці - папір</h2>
  <ul class="rps-list">
    <li class="rps-item">
      <button class="rps-item-button">
        <img class="rps-image" src="#" alt="rock" />
      </button>
    </li>
    <li class="rps-item">
      <button class="rps-item-button">
        <img class="rps-image" src="#" alt="paper" />
      </button>
    </li>
    <li class="rps-item">
      <button class="rps-item-button">
        <img class="rps-image" src="#" alt="scissors" />
      </button>
    </li>
  </ul>
</section>
