<section class="three-numbers">
    <div class="container">
        <h3 class="title">Введіть 3 числа</h3>
        <ul class="three-numbers_box cool-space">
            <li>
            <input type="text" class="three-numbers_input" placeholder="Введіть число">
            </li>
            <li>
            <input type="text" class="three-numbers_input" placeholder="Введіть число">
            </li>
            <li>
            <input type="text" class="three-numbers_input" placeholder="Введіть число">
            </li>
            
        </ul>
        <p class="three-numbers_result">Найбільше число, яке ви ввели</p>
    </div>
</section>