<section class="three-nunbers">
    <div class="container">
        <h3 class="three-nunbers_title">Введіть 3 числа</h3>
        <div class="three-nunbers_box">
            <input type="text" class="three-nunbers_input" placeholder="Введіть число">
            <input type="text" class="three-nunbers_input" placeholder="Введіть число">
            <input type="text" class="three-nunbers_input" placeholder="Введіть число">
        </div>
        <p class="three-nunbers_result">Найбільше число,яке ви ввели</p>
        <div class="line"></div>
    </div>
</section>