<section class="time-calculator" id="5">
  <div class="container">
    <h2 class="title">Калькулятор часу</h2>
    <div class="time-calculator__wrap">
      <div class="time-calculator__box">
        <input
          type="number"
          class="time-calculator__input"
          placeholder="Введіть число"
        />
        <button type="button" class="time-calculator__btn">
          <img src="./images/icons/search.svg" alt="" />
        </button>
      </div>
      <p class="time-calculator__dotspace">--------------------</p>
      <p class="time-calculator__text">Введіть число</p>
    </div>
  </div>
</section>
