<section class="year-of-birth">
  <div class="container">
    <h1 class="year-of-birth__title title">Перевір в який рік ти народився</h1>
    <div class="year-of-birth__box cool-space">
      <input
        type="number"
        class="year-of-birth__input"
        placeholder="Введіть рік народження"
      />
      <button type="button" class="year-of-birth__btn">
        <img src="./images/icons/search.svg" alt="" />
      </button>
      <p class="year-of-birth__text">Введіть рік</p>
    </div>
  </div>
</section>
