.football {
  &-field {
    position: relative;
    border: 2px solid #000;
    border-radius: 37px;
    width: 720px;
    height: 220px;
    background: #5abb58;
    background-image:
      linear-gradient(rgba(90, 187, 88, 0.4)), url('../images/grass.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  &-ball {
    position: absolute;
    left: 92px;
    top: 85px;
    width: 50px;
    height: 50px;
    background-image: url('../images/football.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
  }
}
.container-football-js {
  display: flex;
  flex-direction: column;
  align-items: center;
}
