.header {
  padding: 21px 0;
  background: var(--bg-container);
  color: var(--text-color);

  &__container {
    max-width: 1090px;
    background-color: var(--bg-container);
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  img {
    height: 40px;
  }
}

.nav {
  display: flex;
  gap: 40px;
  margin-left: 81px;

  a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--text-color);
  }

  &__item {
    position: relative;
  }

  &__checkbox {
    display: none;

    &:checked ~ .dropdown {
      visibility: visible;
    }
  }

  &__link--arrow {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-color);

    &::after {
      content: "";
      width: 7px;
      height: 7px;
      margin-bottom: 5px;
      border-right: 1px solid var(--text-color);
      border-bottom: 1px solid var(--text-color);
      transform: rotate(45deg);
    }
  }
}

.dropdown {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;

  background: var(--bg-container);
  border: 1px solid var(--text-color);
  border-top: none;
  border-radius: 0 0 20px 20px;
  visibility: hidden;

  a {
    display: block;
    padding: 10px;
    text-align: center;
    color: var(--text-color);

    &:hover {
      background: #f1f1f1;
    }
  }
}

.theme-toggle {
  background: none;
  border: none;
  margin-left: 320px;
  margin-right: 51px;
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 24px;

  &--moon {
    display: none;
  }
}

.dark-theme {
  .icon--sun {
    display: none;
  }

  .icon--moon {
    display: block;
  }
}